body {
	padding-top: 20px;
  background-image: url(images/bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0px 10px 30px 10px;
  }
  .starter-template {
	padding: 25px 15px;
	text-align: center;
  }
  